<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">

  <div class="login">
    <h1 class="text-center">TravelStory</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
      <ion-item class="border" lines="none">
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="border mt-2" lines="none">
        <ion-input type="text" formControlName="password"></ion-input>
      </ion-item>
      <div class="text-center mt-2">
        <ion-button type="submit" color="success">Iniciar sesión</ion-button>
      </div>
    </form>
  </div>

</ion-content>
