<app-bar></app-bar>
<ion-content>
  <h1 class="ion-margin">Registra un viaje</h1>
  <ion-grid>
    <form [formGroup]="tripForm" (ngSubmit)="onSubmit(tripForm.value)">
      <ion-item>
        <ion-label>Título:</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>País:</ion-label>
        <ionic-selectable
          formControlName="countries" [items]="countries" [isMultiple]="true" [canClear]="true" [canSearch]="true"
          itemValueField="id" itemTextField="country" searchFailText="No hay países que coincidan con la búsqueda">
          <ng-template ionicSelectableCloseButtonTemplate><ion-icon name="close-circle"></ion-icon></ng-template>
        </ionic-selectable>
      </ion-item>

      <ion-item>
        <ion-col size="2">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-col>
        <ion-col size="4">
          <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Inicio" formControlName="initDate"></ion-datetime>
        </ion-col>
        <ion-col size="4" offset="2">
          <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Fin" formControlName="endDate"></ion-datetime>
        </ion-col>
      </ion-item>

      <ion-item>
        <ion-label class="h1" position="stacked">Descripción:</ion-label>
        <ion-textarea rows="4" formControlName="description"></ion-textarea>
      </ion-item>

      <div class="ion-margin mt-3 pointer">
        <label>
          <input type="file" class="d-none"
          (change)="onFileSelected($event)">
          <ion-row class="py-2 px-1 border border-dark rounded align-content-center">
            <ion-icon class="h3" name="image-outline"></ion-icon> <span class="m-2">Seleccionar imagen</span>
          </ion-row>
        </label>
      </div>

      <ion-button expand="block" color="success" type="submit">Compartir</ion-button>
    </form>
  </ion-grid>
</ion-content>
