<ion-content scroll-y="false">

  <div class="login">
    <div class="text-center mb-5">
      <span class="title1">Travel</span><span class="title2">Story</span>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <ion-item class="border" lines="none">
        <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="border mt-2" lines="none">
        <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <div class="text-center mt-2">
        <ion-button type="submit" expand="full" color="success">Iniciar sesión</ion-button>
      </div>
      <div class="google-btn mx-auto mt-2" (click)="googleLogIn()">
        <div class="google-icon-wrapper">
          <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
        <span class="btn-text text-center">Entra con google</span>
      </div>
    </form>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    ¿No tienes cuenta?
    <a routerLink="/signUp">Regístrate</a>
  </ion-toolbar>
</ion-footer>
